{% extends 'base_index.html' %}

{% load static %}

{% block title %}Password Update Successful{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <header class="min-h-screen w-full bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center py-20 bg-no-repeat"  style="background-image: url('../../static/img/background_netflix.jpg');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 w-6/12  flex items-center flex-col">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-8">
                    <div class="card bg-success">
                        <div class="card-body">
                            Your password has been successfully updated.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock content %}