{% extends 'base.html' %} 
{% load static %} 
{% block title %}Reset Password{% endblock %}
{% block extras %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{% endblock extras %}

{% block content %} 

{% include 'partials/navbar.html' with AUTH='false' %}
<header
  class="min-h-screen w-full bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center py-20 bg-no-repeat"
  style="background-image: url('../../static/img/background_netflix.jpg')"
>
  <div
    class="z-10 h-full py-32 md:py-0 text-gray-100 w-6/12 flex items-center flex-col"
  >
    <form
      method="POST"
      class="bg-black bg-opacity-70 py-8 px-4 w-8/12 rounded-md"
    >
      <h1 class="text-4xl font-semibold text-center">Password Reset</h1>
      {% csrf_token %} 
      {% include 'partials/form.html' %} 
      {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <div class="flex justify-center items-center">
        <button
          class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md"
        >
          Change my password
        </button>
      </div>
    </form>
  </div>
</header>
{% endblock content %}
