{% extends 'base.html' %}

{% load static %}

{% block title %}
    Register
{% endblock title %}

{% block extras %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock extras %}
</head>

{% block content %}

    {% include '../partials/navbar.html' with AUTH='false' %}
    <header class="min-h-screen w-full bg-black bg-opacity-75 showcase relative border-gray-600 border-b-8 flex justify-center py-20 bg-no-repeat"  style="background-image: url('{% static 'background_netflix.jpg' %}');">
        <div class="z-10 min-h-full py-32 md:py-0 text-gray-100 w-6/12  flex items-center flex-col">
            <form method='POST' class="bg-black bg-opacity-70 min-h-full py-8 px-4 w-8/12 rounded-md" novalidate >
                <h1 class="text-4xl font-semibold text-center ">
                    Sign Up
                </h1>
                {% csrf_token %}
                {% include 'partials/form.html' %}
                <button type="submit">Update</button>
            </form>
        </div>
    </header>
{% endblock content %}